.icon {
    margin-right: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #5a3bd4;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    background: #222;
    padding: 20px;
}

.left-column {
    flex: 35%;
    background-color: #111;
    padding: 20px;
}

.right-column {
    flex: 65%;
    padding: 20px;
}

.profile-img {
    width: 130px;
    height: 100px;
}

.profile-img img {
    height: 100%;
    display: block;
    border: 5px solid #555;
    width: 100%;
    border-radius: 50%;

}

.contact-info,
.personal-skills,
.soc-link {
    margin-bottom: 20px;
}

.contact-info ul,
.personal-skills ul,
.interests ul,
.soc-link ul {
    margin-left: 10px;
}

.contact-info ul,
.personal-skills ul,
.interests ul,
.soc-link ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li,
.personal-skills ul li,
.interests ul li,
.soc-link ul li {
    background: #333;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.aboutme,
.education,
.professional-skills,
.languages,
.interests,
.courses-projects,
.work-exp {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.languages ul,
.courses-projects ul {
    list-style: none;
    padding: 0;
}

.aboutme p,
.education p,
.work-exp p {
    margin: 5px 5px;
    color: #747474;

}

.aboutme p strong,
.education p strong,
.work-exp p strong {
    color: white;

}

.professional-skills ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.languages ul li,
.courses-projects ul li {
    background: #333;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.professional-skills li:nth-child(odd) {
    margin-right: 6px;
}

.professional-skills li {
    background: #333;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width: calc(50% - 10px);
    margin-right: 10px;
    box-sizing: border-box;
}